*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
src/assets/kameraimg/YOLOVCHILAR_SUPPER_BOEVIK_KINO_TARJIMA_KINOLAR_2024_UZBEK_TILIDA.mp4 filter=lfs diff=lfs merge=lfs -text
